
  <md-content   flex="100" layout="column"  id="histo" >
   <p>
    Les mentions légales de votre site ;
    L’objet et le champ d’application des CGU ;
    Les conditions d’accès au site et, s’il y a lieu, de création d’un compte (membre, client) ;
    Des informations sur les services proposés sur le site ainsi que ses contenus ;
    Les modalités de collecte des données personnelles des utilisateur ;
    Le numéro de votre déclaration auprès de la CNIL, s’il y a lieu ;
    La responsabilité de l’éditeur en matière de propriété intellectuelle ;
    Les responsabilités et obligations des visiteurs du site ;
    Les règles relatives aux liens hypertextes ;
    Le droit applicable et la juridiction compétente en cas de contentieux.
    Les règles encadrant d’éventuelles modifications des CGU…
   </p>
 </md-content>
 