	
	<md-content layout="row" flex="100" flex-sm="100" layout-align="center center" >
		<div id="gmaps"  style="width: 100%; height: 100%;" ng-show="mapLoad == true">
			<!-- <div id="instru"  style="width: 100%; height: 100%;" ng-show="instructions == 1" >	 -->
		</div>	
		<div id="buttondelete" ng-if="delete==1">
			<button id="supp" ng-click="annule();">Annuler la course</button>
		</div>
	 <!-- <div id="instru"  style="width: 100%; height: 100%;" ng-if="instructions == 1" >
	 </div>	  -->
		<!-- <md-content class ="popup-container" id="container" layout="column" layout-align="center center" ng-if="annule ==1" >
	
				<br/>
			
					<span >Please confirm your choice?</span>
					<br/>
					<br/>
				<md-content  layout="row" class="popup-footer" layout-align="center center" layout-padding>
					<button class="md-raised md-primary"   ng-click="annuler();$event.stopPropagation();">YES</button>	
					<button   ng-click="noannule();$event.stopPropagation();">NO</button>
				</md-content>
		
			
				<br/>
				<br/>
		
		</md-content> -->
  </md-content>
  
							   <!--  pour velizy -->
	  <div id="requestContainer" 
	  ng-style="true == true ? {'background':'rgba(255,255,255,0.7)','box-shadow': '0 4px 15px 15px rgba(55, 55, 55, 0.27)' }: {'background':'rgba(255,255,255,0)','box-shadow': 'node'}"
	  
	  ng-if="rideStatus == 0" style="padding:12px 0px"> 
	  <div id="contenu" layout="row" layout-align="center center" >
		  <input class="inputAddress" id="adress" value="{{adresse}}"  placeholder="enter your destination" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model="adresse" />
		  <input type="hidden" id="station" />
		  <md-button class="brequest" id="bouton0" ng-click="affiche_stat_dest()">OK</md-button>
</div>

	   <div  layout="row"  layout-align="center center" style="display: inline;font-size: 12px" >
			  
			
		<button class="mybutton"  id="bouton1" type="button" ng-click="remplir_input1()" value="12 D53, 78140 Vélizy-Villacoublay, France " ng-style="" > TRAM </button>
			<button class="mybutton"  id="bouton2" type="button" ng-click="remplir_input2()" value="37-33 Avenue de Picardie, 78140 Vélizy-Villacoublay, France " ng-style=""> PICARDIE </button>
			<button class="mybutton"  id="bouton3" type="button" ng-click="remplir_input3()" value="2 rue de la division Leclerc, 78140 Vélizy-Villacoublay, France " ng-style="">LECLERC </button>
			
			 <button class="mybutton"  id="bouton4" type="button" ng-click="remplir_input4()" value="14 Allée de Normandie, Vélizy-Villacoublay, France " ng-style=""> BOROTRA  </button>  
			 <button class="mybutton"  id="bouton5" type="button" ng-click="remplir_input5()" value="Rue de Bretagne, 78140 Vélizy-Villacoublay, France " ng-style=""> BRETAGNE  </button> 
			 <button class="mybutton"  id="bouton6" type="button" ng-click="remplir_input6()" value="32-42 Rue Jules Guesde, 78140 Vélizy-Villacoublay, France " ng-style=""> MOZART  </button> 
			 <button class="mybutton"  id="bouton7" type="button" ng-click="remplir_input7()" value="14-16 Rue Charles Gounod, 78140 Vélizy-Villacoublay, France " ng-style=""> GOUNOD  </button> 
				  </div>
	  <button class="request"  ng-if=" rideStatus == 0"   ng-click="request()" style="border-radius: 8px" >Lancer</button> 

   </div>		
   
 

  <md-content layout="row" flex="0" flex-sm="0" layout-align="center center"  >
  </md-content>
  
   <md-content layout="row" flex="100" flex-sm="100" layout-align="center center" style="background-color:#000;opacity:0.7;position:absolute;top:0;z-index:99;height:100%;width:100%" ng-if="wait == true">
  <div layout-align="center center">

  <div flex="100" style="text-align:center" id="wait">
	  <img  src="./assets/img/spinner.gif"  style="width:100px;height:100px;"/>
		  <md-content  layout="row" style="margin:0;padding:0">
			  <button class="md-raised md-primary" ng-click="cancelRequest();$event.stopPropagation();">Annuler</button>	
		  </md-content>
	 <!--  </md-content> -->
  </div>
  </div>	
  </md-content>
  <md-content class="popup" layout="column" flex="100" flex-sm="100" layout-align="center center" ng-if="showPopup" >
	  <md-content class ="popup-container"  layout="column" layout-align="center center" ng-if="rideStatus == 2">
		  <div  layout="row" class="popup-title" layout-align="center center" layout-padding><p>DEMANDE DE TRAJET</p>	
		  </div>
		  <div   layout-padding style="width:100%" >
			  <div  layout="row" layout-align="center center">
				  <span >PAS DE NAVETTE DISPONIBLE</span>	
			  </div>	
		  </div>	
		  <md-content  layout="row" class="popup-footer" layout-align="space-around center" layout-padding>
			  <button class="md-raised md-primary" ng-click="cancelRequest();$event.stopPropagation();">ANNULER</button>	
			  <button ng-click="retry();$event.stopPropagation();">RECOMMENCER</button>	
		  </md-content>
	  </md-content>

	  <md-content class ="popup-container" id="container1"  layout="column" layout-align="center center"  ng-if="showmess==1">
		
		<p id="cent" style="color:black">
			<span id="texte" >Zone non disponible</span>
		</p>	
				
				
		<md-content  layout="row" class="popup-footer" layout-align="space-around center" layout-padding>
			<button id="b_container" type="hidden" class="md-raised md-primary" ng-click="clear_adress($event);$event.stopPropagation()" >OK</button>	
		</md-content>
	</md-content>

	

	<md-content class ="popup-container" id="container" layout="column" layout-align="center center" ng-if="confirmation == 2" >
	
		

		<div  layout="row" >
			<br/>
			<br/>
				<span >La navette arrive à </span>
			
			
			</div>
			<div  layout="row" >
				
				<br/>
				<span> la Station {{station_accueil}} </span>
				
				
				</div>
			
			<br/>
					<div  layout="row" >	<!-- ng-if="rideInfo.Duration!=0" -->
						<span >	dans {{time}}</span>	
					</div>
			
			<br/>
		
				<span >Confirmez votre réservation?</span>
				<br/>
				<br/>
			<md-content  layout="row" class="popup-footer" layout-align="center center" layout-padding>
				<button id="conf" class="md-raised md-primary"   ng-click=" confirm();$event.stopPropagation();">OUI</button>	
				<button  id="b_container" ng-click="infirmer();$event.stopPropagation();">NON</button>
			</md-content>
	
		
			<br/>
			<br/>
	
	</md-content>




	  <md-content class ="popup-container" id="container" layout="column" layout-align="center center" ng-if="rideStatus == 3" >
		  <div  layout="row" class="popup-title" layout-align="center center" layout-padding><p>Navette à l'approche</p>	
		  </div>
	  
		  <div  layout="row" ng-if="rideInfo.Duration!=0">
			  <span >Arrivée dans : {{time}}</span>	
			  
		  
		  </div>		
		  <br/>
		  

		  <div  layout="row" >
			  
				  <span >A : {{station_accueil}}</span>	
  
			  </div>
			  <br/><br/>
			  <!-- <div layout="row" > -->
				  <span >Voulez-vous la navigation piétonne?</span>
				  <br/>
				  <br/>
			  <md-content  layout="row" class="popup-footer" layout-align="center center" layout-padding>
				  <button class="md-raised md-primary"   ng-click="openmap();$event.stopPropagation();">OUI</button>	
				  <button  id="b_container" ng-click="carComing();$event.stopPropagation();">NON</button>
			  </md-content>
		  <!-- 	</div> -->
		  
			  <br/>
			  <br/>
		  <!-- <md-content  layout="row" class="popup-footer" layout-align="space-around center" layout-padding>
			  <button class="md-raised md-primary"  id="b_container" ng-click="carComing();$event.stopPropagation();">OK</button>	
		  </md-content> -->
	  </md-content>
  <!-- </div> -->
	  <md-content class ="popup-container" id="container" layout="column" layout-align="center center" layout-padding ng-if="rideStatus == 5 || rideStatus == 6" >
		  <div  layout="row" class="popup-title" layout-align="start center" layout-padding><p>LA NAVETTE EST ARRIVEE</p>	
		  </div>
		  <div  layout="row" >
			  <span >Navette :{{shuttle.idVehicle}} {{shuttle.idFleet}}</span>	
			  <!-- <img ng-src="{{avatar}}" class="photoProfil"   /> -->
		  </div>	
		  <div  layout="row" >
			  <span >Allant à : <br/>{{destAddr}}</span>	
		  </div>	
		  <div  layout="row" >
			  <span >Destination dans : {{tripTime}}</span>
		  </div>		
		  <md-content  layout="row" class="popup-footer" layout-align="space-around center" layout-padding>
			  <button class="md-raised md-primary" id="b_container" ng-click="close();$event.stopPropagation();">OK</button>	
		  </md-content>
	  </md-content>
	  
	  <md-content class ="popup-container"  layout="column" layout-align="center center" ng-if="rideStatus == 7">
	  <div  layout="row" class="popup-title" layout-align="center center" layout-padding><p>ARRIVEE A DESTINATION</p>	
	  </div>
	  <div   layout-padding style="width:100%" >
		  <div  layout="row" >
			  <span >Arrivée à :<br/> {{destAddr}}</span>	
		  </div>	
	  </div>	

	  <md-content  layout="row" class="popup-footer" layout-align="space-around center" layout-padding ng-if="affiche == 1">
	  <span >Start a pedestrian route to your destination?</span>
	  <br/>
	  <br/>
  <md-content  layout="row" class="popup-footer" layout-align="center center" layout-padding>
	  <button class="md-raised md-primary"   ng-click="open_nav();$event.stopPropagation();">YES</button>	
	  <button class="md-raised md-primary" ng-click="goscoring($event);$event.stopPropagation()">CANCEL</button>
  </md-content>
	</md-content>


		  <md-content  layout="row" class="popup-footer" layout-align="space-around center" layout-padding ng-if="affiche == 0">
			  <button class="md-raised md-primary" ng-click="arrivedToDestination($event);$event.stopPropagation()" >NOTATION</button>	
		  </md-content>
	  </md-content>	
	  <md-content class ="popup-container" id="container" layout="column" layout-align="center center" ng-if="rideStatus == 8">
		  <div  layout="row" class="popup-title" layout-align="center center" layout-padding><p>NOTATION</p>	
		  </div>
		  <div  layout="row" >
			  <span >Navette :{{shuttle.idVehicle}} {{shuttle.idFleet}}</span>	
			  <!-- <img ng-src="{{avatar}}" class="photoProfil"   /> -->
		  </div>
		  <div  layout="row" layout-align="center center" >	
			 <!--  <img src="./assets/img/stareOn.png" ng-click="stareClick(5)"/> -->
			  <div><img src="./assets/img/stareOn.png" ng-if="score.note>0" ng-click="stareClick(1)"/><img src="./assets/img/stareOff.png" ng-if="score.note<1" ng-click="stareClick(1)"/></div>
			  <div><img src="./assets/img/stareOn.png" ng-if="score.note>1" ng-click="stareClick(2)"/><img src="./assets/img/stareOff.png" ng-if="score.note<2" ng-click="stareClick(2)"/></div>
			  <div><img src="./assets/img/stareOn.png" ng-if="score.note>2" ng-click="stareClick(3)"/><img src="./assets/img/stareOff.png" ng-if="score.note<3" ng-click="stareClick(3)"/></div>
			  <div><img src="./assets/img/stareOn.png" ng-if="score.note>3" ng-click="stareClick(4)"/><img src="./assets/img/stareOff.png" ng-if="score.note<4" ng-click="stareClick(4)"/></div>
			  <div><img src="./assets/img/stareOn.png" ng-if="score.note>4" ng-click="stareClick(5)"/><img src="./assets/img/stareOff.png" ng-if="score.note<5" ng-click="stareClick(5)"/></div>
		  </div>		
		  <div  layout="row" layout-align="center center" layout-padding class="comment-container" >
		  <md-input-container  style="margin-top:20px" >
			   <label>Commentaire</label>
			  <textarea ng-model="score.comment" maxlength="100"  ></textarea>
		  </md-input-container>						
		  </div>			
		  <md-content  layout="row" class="popup-footer" layout-align="space-around center" layout-padding>
			  <!-- <button class="md-raised md-primary" ng-click="endRide($event);$event.stopPropagation()" >SAVE</button> -->
			  <button class="md-raised md-primary" ng-click="showpop($event);$event.stopPropagation()" >Sauvegarder</button>	
		  </md-content>
	  </md-content>

	  <md-content class ="popup-container" id="container1" layout="column" layout-align="center center" ng-if="etat==1">
		
		<p id="cent">
			<span id="texte">Merci d'avoir utilisé nos services</span>
		</p>	
				
				
		<md-content  layout="row" class="popup-footer" layout-align="space-around center" layout-padding>
			<button id="b_container" type="hidden" class="md-raised md-primary" ng-click="endRide($event);$event.stopPropagation()" >OK</button>	
		</md-content>
	</md-content>



	<md-content class ="popup-container" id="container1" layout="column" layout-align="center center" ng-if="noshow==1">
		
		<p id="cent">
			<span id="texte">La navette est partie. La course va être annulée. Demandez une nouvelle course.</span>
		</p>	
				
				
		<md-content  layout="row" class="popup-footer" layout-align="space-around center" layout-padding>
			<button id="b_container" type="hidden" class="md-raised md-primary" ng-click="endRide($event);$event.stopPropagation()" >OK</button>	
		</md-content>
	</md-content>

	<!-- <div id="delete" ng-if="delete==1">
		<button id="button_delete">Cancel mission</button>
	</div> -->

	<md-content class ="popup-container" id="container" layout="column" layout-align="center center" ng-if="annule ==1" >
	
		<br/>
	
			<span >Confirmez votre choix</span>
			<br/>
			<br/>
		<md-content  layout="row" class="popup-footer" layout-align="center center" layout-padding>
			<button class="md-raised md-primary"   ng-click="annuler();$event.stopPropagation();">OUI</button>	
			<button   ng-click="noannule();$event.stopPropagation();">NON</button>
		</md-content>

	
		<br/>
		<br/>

</md-content>

<md-content class ="popup-container" id="container" layout="column" layout-align="center center" ng-if="m_erreur ==1" >
	
	<br/>

		<span >Course non disponible</span>
		<br/>
		<br/>
	<md-content  layout="row" class="popup-footer" layout-align="center center" layout-padding>
		
		<button   ng-click="m_err();$event.stopPropagation();">OK</button>
	</md-content>


	<br/>
	<br/>

</md-content>
  </md-content>